#left-strip {
    height: 200px;
    width: 166.15px;
    margin-top: 0;
    padding-top: 0;
}

#right-strip {
    height: 170px;
    width: 204.62px;
    align-self: flex-end;
}

main#loginScreen {
    height: 100vh;
    display: flex;
}

#loginForm  {
    display: flex;
    justify-content: center;
    width: 100%;

    form {
        width: 40%;
        height: fit-content;
        align-self: center;
    
        header {
            font-family: 'Source Sans Pro', sans-serif;
            margin-bottom: 2.5rem;

            img {
                margin: auto;
                width: 100px;
                height: 100px;
            }

            h1 {
                color: #595F6E;
                text-align: center;
    
                padding-top: 4rem;
            }
        }
        
        #checkbox-group {
            margin-top: 1rem;

            display: flex;
            
            label {
                color: #4D4F5C;
                font-family: 'Roboto', sans-serif;
                
                margin-left: 0.5rem;
            }

            input[type="checkbox"] {
                // appearance: none;
                // -webkit-appearance: none;
                height: 1.5625rem;
                width: 1.5625rem;
                background-color: white;
                border: 1px solid #595F6E;
                border-radius: 0.5rem;
                cursor: pointer;
            }
        }
    }


}

.form-footer {
    font-family: 'Roboto', sans-serif;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    input {
        background-color: #558B2F;
        color: #FFF;
        font-family: 'Source Sans Pro', sans-serif;
        text-align: center;

        width: 25vw;
        padding: 0.4375rem 6.25rem;
        border-radius: 1.375rem;

        transition: background-color 200ms;

        cursor: pointer;

        &:hover {
            background-color: #5f9b34;
        }
    }

    a {
        color: #558B2F;
        text-decoration: underline;
    }
}

.floatingGroup {
    margin-top: 0.5rem;
    // border: 2px solid black;

    .floatingLabel {
        font-family: 'Source Sans Pro', sans-serif;
        color: #595F6E;
        cursor: text;

        position: relative;
        bottom: 2rem;
        left: 1rem;
        transition: 
            bottom 200ms ease-in
            font-size 200ms ease-in
            background-color 200ms ease-in
            color 200ms ease-in;
        
    }

    .floatingInput {
        width: 100%;
        
        border: solid #C7CCD8 1px;
        border-radius: 0.5rem;
        padding: 0.3125rem 1.25rem;

        font-family: 'Source Sans Pro', sans-serif;
        color: #595F6E;

        &:hover, &:focus, &:not(:placeholder-shown) {
            border: solid 1px #558B2F;
            outline: none;
        }

    }

    .floatingInput:focus + .floatingLabel, 
    .floatingInput:not(:placeholder-shown).floatingInput:not(:focus) + .floatingLabel {
        bottom: 3.1rem;
        color: #558B2F;
        background-color: white;
        font-size: 0.8rem;
    }
}