/*
    Aside menu styling 
*/

#dashContent { 
    height: 100vh;
    display: grid;
    grid-template-columns: 10rem 1fr;
    grid-template-areas: 
        "aside main"
}

aside {
    height: 100%;
    grid-area: aside;
    position: fixed;
    width: 10rem;
    

    display: flex;
    flex-direction: column;

    nav {
        margin-top: auto;
        display: grid;
        width: 10rem;
        margin-top: 1.7rem;
        grid-template-rows: 55vh 1fr;
        grid-template-areas:
            "mainNav"
            "programmer";
        
        #mainNavigation {
            grid-area: mainNav;
        }

        #programmer {
            grid-area: programmer;

            span {
                color: #558B2F;
                font-family: 'Source Sans Pro', sans-serif;
                margin-left: 12px;
            }

            p {
                font-family: 'Source Sans Pro', sans-serif;
                margin-left: 12px; 
            }
        }
        
    }

    footer {
        position: relative;
        font-family: 'Source Sans Pro', sans-serif;
        color: white;
        margin-top: auto;

        div {
            position: absolute;
            bottom: 2px;

            font-weight: 300;
            font-size: 0.9rem;
            padding-left: 10px;

            p {
                font-weight: 600;
            }
        }
    }
}

@media screen and(min-height: 1080px) {
    aside nav {
        grid-template-rows: 70vh 1fr;
    }
}

/*
    Main section styling 
*/

main {
    grid-area: main;

    display: grid;
    grid-template-rows: 4rem 1fr;

    header {
        position: relative;
        padding: 20px;
        font-family: 'Source Sans Pro', sans-serif;
        // border: solid 2px black;

        p {
            display: inline-block;
            font-weight: 600;
        }

        .verticalBar {
            position: absolute;
            width: 2rem;
            transform: rotate(90deg);
            left: 12rem;
            bottom: 1.5rem;
            border: solid 1px #7E8699;
        }

        .headerDivider {
            border: solid 1px #C7CCD8;
            width: 97%;
            margin: auto;
        }

        .productAmount {
            font-size: 1.5rem;
            padding-left: 5rem;
            color: #558B2F;
        }

        .productsLabel {
            padding-left: 0.4rem;
        }

        h1 {
            display: inline-block;
            font-weight: bold;
            font-size: 1.75rem;
        }
    }

    

    #dataDisplay {
        overflow-x: auto;
        display: grid;
        padding-left: 0.5rem;
        grid-template-rows: 8fr 92fr;
        grid-template-columns: 20fr 80fr;
        grid-auto-rows: 0%;
        grid-template-areas: 
            "simpleCards iconedCards"
            "chartData tableData";
    }

    div.simpleCards {
        grid-area: simpleCards;
        display: flex;
        padding-top: 0.5rem;
    }

    div.iconedCards {
        display: flex;
        grid-area: iconedCards;
        padding-top: 0.5rem;
    }

    div.chartDisplay {
        grid-area: chartData;
    }

    div.tableData {
        grid-area: tableData;

        header {
            width: 338px;
            margin-bottom: 0;
            padding-bottom: 0;

            h1 {
            border-bottom: 3px #558B2F solid;
            margin-bottom: 1rem;
            }
        }

        select {
            font-family: 'Source Sans Pro', sans-serif;
            color: #595F6E;
        }
    }

}